<section class="gifts" id="gifts">
  <div class="centered container">
    <h2>Gifts to Give</h2>
    <div class="gift-cards">
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c16.jpg" %>
          <h4>Lodging</h4>
          <progress value="50" max="100"></progress>
          <div class="progress-data">
            <p>25.00$</p>
            <p class="needed">12 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/lunch-time.jpg" %>
          <h4>Lunch & Dinner</h4>
          <progress value="80" max="100"></progress>
          <div class="progress-data">
            <p>15.00$</p>
            <p class="needed">7 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/passport.jpg" %>
          <h4>Passport Sponsor</h4>
          <progress value="90" max="100"></progress>
          <div class="progress-data">
            <p>250.00$</p>
            <p class="needed">2 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/airline.jpg" %>
          <h4>Roundtrip Airfare</h4>
          <progress value="75" max="100"></progress>
          <div class="progress-data">
            <p>500.00$</p>
            <p class="needed">3 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c17.jpg" %>
          <h4>Group T-Shirts</h4>
          <progress value="20" max="100"></progress>
          <div class="progress-data">
            <p>10.00$</p>
            <p class="needed">8 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c15.jpg" %>
          <h4>General Donation</h4>
          <progress value="50" max="100"></progress>
          <div class="progress-data">
            <p>25.00$</p>
            <p class="needed">10 Needed</p>
          </div>
          <div class="gift-btn">
            Give this Gift
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
