<section class="gifts" id="gifts">
  <div class="centered container">
    <h2>Gifts to Give</h2>
    <div class="gift-cards">
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c16.jpg" %>
          <h3>Lodging</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/lunch-time.jpg" %>
          <h3>Lunch & Dinner</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/passport.jpg" %>
          <h3>Passport Sponsorship</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/airline.jpg" %>
          <h3>Roundtrip Airfare</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c17.jpg" %>
          <h3>Group T-Shirts</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
      <div class="gift-card">
        <div class="border"></div>
        <div class="content">
          <%= image_tag "home/d4c15.jpg" %>
          <h3>General Donation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut laboriosam blanditiis sint officia cum explicabo accusamus magnam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
