<section class="trips" id="trips">
  <div class="container">
      <div class="row">
          <div class="section-title text-center">
              <h2>Previous Trips</h2>
          </div>
      </div>

      <div class="row">
          <div class="trips-gallery">

              <div class="item active" data-id="Design">
                  <div class="inner">
                    <%= image_tag "home/d4c11.jpg" %>
                    <div class="overlay">
                      <span class="fa fa-images"></span>
                      <h4>Mexico</h4>
                      <h5>Puerto Vallarta</h5>
                    </div>
                  </div>
              </div>

              <div class="item" data-id="Branding">
                  <div class="inner">
                    <%= image_tag "home/d4c2.png" %>
                      <div class="overlay">
                        <span class="fa fa-images"></span>
                        <h4>Africa</h4>
                        <h5>Ethiopia</h5>
                      </div>
                  </div>
              </div>

              <div class="item" data-id="Fashion">
                  <div class="inner">
                      <%= image_tag "home/d4c12.jpg" %>
                      <div class="overlay">
                        <span class="fa fa-images"></span>
                        <h4>Japan</h4>
                        <h5>Tokyo & Osaka</h5>
                      </div>
                  </div>
              </div>

              <div class="item" data-id="Fashion">
                  <div class="inner">
                      <%= image_tag "home/d4c8.jpeg" %>
                      <div class="overlay">
                        <span class="fa fa-images"></span>
                        <h4>Sweden</h4>
                        <h5>Stockholm</h5>
                      </div>
                  </div>
              </div>

              <div class="item" data-id="Branding">
                  <div class="inner">
                      <%= image_tag "home/d4c13.jpg" %>
                      <div class="overlay">
                        <span class="fa fa-images"></span>
                        <h4>Thailand</h4>
                        <h5>Chiang Mai</h5>
                      </div>
                  </div>
              </div>

              <div class="item" data-id="Branding">
                  <div class="inner">
                      <%= image_tag "home/d4c7.jpeg" %>
                      <div class="overlay">
                      <span class="fa fa-images"></span>
                        <h4>France</h4>
                        <h5>Paris</h5>
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>

</section>
